@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --main-color: #FCA4A6;
  --secondary-color-dark: #C1576A;
  --secondary-color-darken: #A83E50;
  --white-color: #FCF8F8;

  --header-height: 3rem;

  --big-font-size: 5em;
  --font-family:'Poppins', sans-serif;
  --normal-font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--main-color);
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin: var(--header-height) 0 0 0;
}

.container--grid {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  margin: 0 1rem;
  max-width: 128rem;
}

.header {
  background-color: var(--main-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.2em;
}

@media screen and (max-width: 770px) {

  .nav__menu {
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter: blur(.625em);
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    position: fixed;
    right: -100%;
    transition: all .5s;
    top: 0;
    width: 70%;
    -webkit-backdrop-filter: blur(.625em);
  }

}

.nav__logo, .nav__close, .nav__toggle, .nav__item a {
  color: var(--white-color);
}

.nav__toggle, .nav__close {
  cursor: pointer;
  font-size: 1.6em;
  padding: 0 .225em;
}

.nav__close {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
}

.nav__item {
  margin-bottom: 2rem;
}
.nav__item a {
  padding: .25em .525em;
}

.nav__item a:hover {
  color: var(--secondary-color-dark);
}

.nav__menu.show--menu {
  right: 0;
}


